<?php/** * @var Zend_View $view */?><div id="top">	 <a href="<?php echo $view->url(array(), 'default', true); ?>" class="logo">		<img src="<?php echo $view->baseUrl(); ?>/img/logo-horizontal.png" alt="myEvents VŠE"/>	</a><div class="fr">	{include 'automatic.latte'}	<ul class="nav">		<li><a href="<?php echo $view->url(array(), 'organizationList', true); ?>">Organizace</a></li>		<li><a href="<?php echo $view->url(array(), 'eventList', true); ?>">Akce</a></li>		<li><a href="<?php echo $view->url(array(), 'aboutUs', true); ?>">O nás</a></li>	</ul>	{include '../logIn.latte'}</div></div>