<!DOCTYPE html5>
<html>
{include 'blocks/head.latte'}

<body>

<!-- Obsah -->
<div class="container">
	{*block content}{/block*}
	{!$view->layout()->content}
</div>

<!-- Paticka -->
{include 'blocks/footer.latte'}

</body>
</html>