<!DOCTYPE html><html><head>{include 'blocks/head.latte'}</head><body><!-- Hlavicka -->{include 'blocks/header.latte'}<div class="messages" n:if="count($flashes)">        <div class="message info" n:foreach="$infoFlashes as $flash">{$flash}</div>        <div class="message error" n:foreach="$errorFlashes as $flash">{$flash}</div></div><!-- Obsah --><div class="container">	{*block content}{/block*}	{!$view->layout()->content}</div><!-- Paticka -->{include 'blocks/footer.latte'}{include 'blocks/javascripts.latte'}</body></html>