<?php/** * @var Zend_View $view */?><a href="<?php echo $view->url(array(), "adminLogout") ?>">Odhlásit</a><h1>{$nazevOrganizace}</h1>		<a href="<?php echo $view->url(array(), 'newEvent', true); ?>" class="btn btn-success"><span class="icon-plus"></span>Nová akce</a>			<table class="tm30 table table-striped">			<tr>				<th>Název</th>				<th>Datum</th>				<th>Editovat</th>				<th>Smazat</th>			</tr>			<tr n:foreach="$events as $event">				<td>{$event->name}</td>                                <td>{$event->timestart|date:'%d.%m.%Y'}</td>				<td><a href="<?php echo $view->url(                                       array('id' => $event->event_id),                                       'editEvent',                                       true);?>"                                       class="btn"><span class="icon-pencil"></span>editovat</a></td>				<td><a href="#" class="btn btn-danger"><span class="icon-trash"></span>smazat</a></td>			</tr>			</table>