<?php/** * @var Zend_View $view */?><div class="row-fluid"  id="form-signin">    <div class="span5">        <img src="img/logo.png" alt="myEvents VŠE" />    </div>    <div class="span6 pull-right">        <h3>Přihlášení</h3>        <?php echo $view->loginForm ?>    </div></div>