			<div class="background">				<div class="inside">						<h1>Členové týmu</h1>						<div  class="team">								<h3>- Michael Jarolín <strong>Projektový manager</strong></h3>							<h3>- Andrej Svitek <strong>Projektový manager</strong></h3>							<h3>- Michael Žabka <strong>student</strong></h3>							<h3>- Pavel Hanyš <strong>student</strong></h3>							<h3>- Radim Klepetko <strong>student</strong></h3>							<h3>- Matěj Lauko <strong>student</strong></h3>							<h3>- František Toman <strong>student</strong></h3>							<h3>- Jakub Macoun <strong>student</strong></h3>						</div>					</div>							</div>