			<div class="background">				<div class="inside">						<h1>Členové týmu</h1>						<div  class="team">								<h3>- Michael Jarolín <strong>Projektový manager</strong></h3>							<h3>- Andrej Svitek <strong>Projektový manager</strong></h3>							<h3>- Michael Žabka <strong>Hlavní programátor</strong> <strong><a href="mailto: zabka@avantcore.cz">zabka@avantcore.cz</a></strong></h3>							<h3>- Pavel Hanyš <strong>Webový návrhář a grafik</strong></h3>							<h3>- Radim Klepetko <strong>Databázový specialista</strong></h3>							<h3>- Matěj Lauko <strong>Frontend programátor</strong></h3>							<h3>- František Toman <strong>Backend programátor</strong></h3>							<h3>- Jakub Macoun <strong>Optimalizační programátor</strong></h3>						</div>												<div class="team">						      <h1>Kontakt na myEvents: <strong><a href="mailto: myeventsvse@gmail.com">myeventsvse@gmail.com</a></strong></h1>						</div>					</div>							</div>