<?php/** * @var Zend_View $view */?><div class="navbar">	<div class="navbar-inner">		<div class="container">			<a href="<?php echo $view->url(array(), 'default', true); ?>" class="brand"><img src="<?php echo $view->baseUrl(); ?>/img/logo-transparent.png" alt="myEvents VŠE"/></a>			<ul class="nav nav-pills pull-right">				<li class=""><a href="<?php echo $view->url(array(), 'eventList', true); ?>">Akce</a></li>				<li><a href="<?php echo $view->url(array(), 'aboutUs', true); ?>">O nás</a></li>			</ul>		</div>	</div></div>