body {
	font: 13px/19px Arial, serif;
	margin: 0;
	background: url('../img/wrap_bg.gif');
}

*, *:after, *:before {
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box
}

h1, h2, h3, h4, h5, h6 {margin: 0; font-weight: normal;}
p {margin: 0;}

a {
	color: #8daf3e;
	text-decoration: underline;
}
a.btn {text-decoration: none; outline: 0;}
a.btn:focus {outline: 0;}
a:hover {
	text-decoration: none;
	color: #6d8d23;
}

p {
	margin: 0 0 15px 0;
	line-height: 22px;
}

p.hightlight {
	font-size: 14px;
	font-weight: bold;
}

.tac {
	text-align: center;
}

.fr {float: right;}

h1 {
	color: #48260e;
	font: bold 27px/32px Arial;
	margin: 8px 0 15px;
}

.table td, .table th {
	vertical-align: middle;
}

input[type='text'], input[type='date'], input[type='url'] {
	padding: 5px;
	height: 33px;
}

#coming-soon-box {
	width: 750px;
	height: 350px;
	margin: -175px 0 0 -375px;
	top: 50%;
	position: relative;
	margin-top: 120px;
	margin-left: 0;
	left: 0;
}

#coming-soon-box .left {
	float: left;
	width: 200px;
	text-align: center;
}

#coming-soon-box .right {
	float: right;
	width: 530px;
}

#coming-soon-box  .fb {
	padding-top: 10px;
}

.form {
	padding: 10px;
	background: #8daf3e;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.form .input {
	width: 310px;
	background: #fff;
	border: 1px solid #709027;
	padding: 9px;
	margin: 0 5px 0 0;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px rgba(0, 0, 0, 0.2) inset;
	height: auto;
	height: 22px;
}

.form .idleField {
	background: #f5f5f5;
}

.form .button {
	width: 170px;
	cursor: pointer;
	font-weight: bold;
	background: #48260e;
	border: 0;
	color: #fff;
	padding: 10px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #2e1707;
	box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset, 0 1px rgba(255, 255, 255, 0.3);
}

.messages {
	display: block;
	margin-top: 20px;
	text-align: center;
}

.message {
	border: 1px solid #00529B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 15px 15px 15px 50px;
	background: #BDE5F8 url('../img/ok-icon.png') no-repeat 13px 13px;
	color: #00529B;
	display: inline-block;
	box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
}
.message.error {
	border: 1px solid #b22222;
	background: #ebcccc url('../img/error-icon.png') no-repeat 13px 13px;
	color: #b22222;
}

.actionForm th {
	text-align: left;
	font-weight: normal;
	min-width: 120px;
	padding-right: 10px;
}

.actionForm td {
	padding: 5px;
}

.actionForm td input{
	margin: 0;
}

.actionForm td label{
	display: inline; 
	margin: 5px 0 0 0;
}

.actionForm td textarea{
	height: 150px; 
	resize: none; 
	width: 400px;
}

/* Login form */
#loginForm {
	
	width: 300px;
	height: 285px;
	
	margin: 30px auto;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
	width: 100%;
	
}

#loginForm .head {background:#8daf3e; padding: 20px 10px 20px 20px; width: 100%;}
#loginForm .head  h3 {color: #fff; font-size: 18px;}
#loginForm .body {padding: 20px;}
#loginForm .body label {font-size: 14px; color: #444; margin-bottom: 7px; display: inline-block;}
#loginForm .btn {float: right;}

#loginForm dd, #loginForm dl {margin: 0;}

.btn.org {background: #ed7f25; border-color: #d3660d;}

input.btn {
	padding: 8px 18px;
}

.wrap {
	width: 750px;
	margin: auto;
}

#footer .fb {
	text-align: right;
	width: 750px;
	margin: auto;
}



table.tm30 {
	margin-top: 30px;
}

table.actionform th {
	width: 90px;
}

table.actionform  input[type="text"] {
	margin-right: 20px;
}

table.actionform input.w525 {
	width: 525px;
}

table.actionform textarea {
	width: 620px;
	height: 300px;
}

table.actionform th, table.actionform td {
	text-align: left;
	height: 35px;
}

table.actionform th label {
	font-weight: bold;
	margin: 0;
}

#shortinfo {width: 400px; height: 100px;}
#longinfo {width: 400px; height: 200px;}

#info { width: 400px; height: 200px; }



#wrap {
  width: 1000px;
  margin: 0 auto;
}

/* changes bootstrap*/
#top {  
width: 100%;
  border: 1px solid #e1e0e1;
  border-top: 0;
 -webkit-border-radius: 0 0 5px 5px;
     -moz-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
		    background: #f1edf0;
        background: rgba(0,0,0,0.05);


  /*background-image: -moz-linear-gradient(top, #8daf3e, #8daf3e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8daf3e), to(#8daf3e));
  background-image: -webkit-linear-gradient(top, #8daf3e, #8daf3e);
  background-image: -o-linear-gradient(top, #8daf3e, #8daf3e);
  background-image: linear-gradient(to bottom, #8daf3e, #8daf3e);
*/


}



.logo {display: block; float: left; margin: 25px;}
.nav {float: right; margin: 72px 20px 0 0;}
.nav li {float: left; margin: 0 5px; list-style: none}
.nav li a {color: #3C3C3C; text-decoration: none; font-size: 16px; font-weight: bold; padding: 5px 10px;
    transition: all 0.2s;
-moz-transition: all 0.2s; /* Firefox 4 */
-webkit-transition: all 0.2s; /* Safari and Chrome */
-o-transition: all 0.2s; /* Opera */
}
.nav li a:hover, .nav li a.active {background:#8daf3e; color: #fff;}

#main {margin: 55px 0 40px; width: 100%;}
#leftSide {float: left; width: 20%;}
#rightSide {float: left; width: 80%;}
.background {background: #f7f7f7; border: 1px solid #b3b3b3; padding: 10px;  position: relative;  width: 100%; margin-bottom: 20px; }
.background:before, .background:after {
    border: 1px solid #b3b3b3;
    background: #f7f7f7;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: -6px;
    width: 99%;
    z-index: -1;
    margin: 0 0.5%;
}
.background:before {top: -11px; width: 98%; margin: 0 1%; box-shadow: 0 8px 20px 4px rgba(0,0,0,0.1);}

.background .inside {border: 1px solid #b3b3b3; background: #fff; position: relative;}
#main h1 {color: #3c3c3c; font-size: 22px; font-weight: bold; margin: 20px 15px;}
#main h1.abs {position: absolute; top: 30px; right: 15px; margin: 0;}
.dayBox {padding: 25px 0 8px; width: 100%; border-bottom: 1px solid #DDDDDD;}
.day {background: #ed7f25; position: relative; padding: 10px 20px; border: 1px solid #d3660d; position:relative; left: -5px; display: inline-block; float: left; }
.day:after {content: ""; position: absolute; bottom: -6px; left: -1px; width: 5px; height: 5px; border-right: 5px solid #ca610b; border-bottom: 5px solid transparent;}
.day strong {font-size: 16px; color: #fff; text-shadow: 0 1px rgba(0,0,0,0.3); }

#search {border:  1px solid #dedede; background: #fff; margin: 25px 10px;}
#search input {background: none; border: 0; }
#search input[type="text"] { width: 150px; padding: 5px 10px; font-size: 17px;}
 #search input[type="submit"]{padding: 0 5px; background: url("../img/icons.png") no-repeat 0 -78px;}

#filter {box-shadow: -2px 0 10px rgba(0,0,0,0.1);  position: relative; z-index: 1;  margin-top: 10px }
#filter ul{
background: #fff;
opacity: 0.7;
transition: all 0.3s;
-moz-transition: all 0.3s; /* Firefox 4 */
-webkit-transition: all 0.3s; /* Safari and Chrome */
-o-transition: all 0.3s; /* Opera */

}

#filter:hover  ul{opacity: 1;}
#filter .head {background:#8daf3e; padding: 20px 10px 20px 20px; width: 100%;}
#filter .head h3 {color: #fff; font-size: 18px; float: left;}

#filter .head .how-to {float: right; position: relative; color: #fff; }
#filter .head .how-to span {display: none; color: #fff; position: absolute; top: -20px; left: 70px; z-index: 100; padding: 10px; background: #8daf3e; width: 355px; text-decoration: none;}
#filter .head .how-to:hover > span {display: block; }

#filter ul {padding: 0; margin: 0;}

form #filter > ul > li {
    list-style: none;
    color: #636363;
    border-top: 1px solid #8daf3e;
}
#filter ul > li.title {
    position: relative;  
      font-size: 17px;
    font-weight: bold;
    padding: 20px 15px;
    
    text-transform: uppercase;
}

#filter ul > li.title span {

cursor: pointer;
}

#filter ul li ul {margin-top: 10px;}
#filter ul li ul li {  
	line-height: 17px;
    margin: 0 0 0 10px;
    padding: 7px 20px 7px 0;
	position: relative;
  list-style: none;
  font-size: 14px;  
  border-top: 1px solid #EEEEEE;
  font-weight: normal;
}

#filter ul li ul li:first-child {
  border: 0;
}

#filter ul li ul li a {
	color: #0088CC;
	text-transform: none;
  text-decoration: none;
  color: #3c3c3c;
}

#filter ul li ul li a:hover {
	color: #0088CC; 
}
/*.filter .nav-list li ul {display: none;}
.filter .nav-list li:hover ul {display: block;}*/
#filter ul li ul li input {position: absolute; top: 10px; right: 0px; margin: 0; outline: 0;}



.filter .nav > .nav-header .collapse {background: url("../img/collapse.png") no-repeat; position: absolute; top: 0; right: 0; display: block; height: 20px; width: 20px; cursor: pointer;}
.filter .nav > .nav-header .collapse.expanded {background: url("../img/expand.png") no-repeat;}




.item {		
width: 100%;
padding: 15px; 
cursor: pointer;
display: block;
border-bottom: 1px solid #DDDDDD;
outline: 0;
position: relative;

}

/*.background .inside .item:last-child {border: 0;}*/

.item:hover {
background: rgba(141,175,62,0.05);
}


.item .img {padding: 5px; border: 1px solid #cecece; float: left; background: #fff; margin-right: 20px; width: 112px; overflow: hidden;}
.item .img img{width: 100px; display: block;}
.item .info {float: left; width: 82%; }
.item .info div.other {margin-bottom: 10px;}
.item .info div.other strong {margin-left: 10px; font-size: 14px;}
.item .info .closed {display: none;}

.item h2 {
	margin: 10px 0;
	font-size: 18px;
	line-height: 19px;
  color: #3c3c3c;
  text-transform: uppercase;
  font-weight: bold;
}






.item .btn {display: none; position: absolute; top: 15px; right: 10px; }

.item:hover .btn {display: block; }
.btn {background: #8daf3e; text-decoration: none; padding: 4px 12px; color: #fff; border: 1px solid #7c9839; border-bottom-width: 2px; font-weight: bold;}
.btn:hover {text-decoration: none; color: #fff;}
.item .basic .part {display: inline-block; vertical-align: top;}
.item .basic span  {background: url("../img/icons.png") no-repeat; width: 25px; height: 35px; display: block; float: left; margin-right: 10px;}
.item .basic span.speaker {background-position: 0 0; }
.item .basic span.start {background-position: -30px 0; }
.item .basic span.room {background-position: -60px 0; }
.item .basic span.org {background-position: -90px 0; }
.item p {margin: 0 0 10px;}
.item .basic strong {color: #8daf3e; font-size: 16px; margin-right: 10px; display: inline-block; margin-top: 5px;}
.item .social {border-top: 1px solid #dddddd; padding-top: 15px; margin-top: 15px;}
.item .social a {display: inline-block; padding: 15px;  margin-right: 8px; background: #fff url("../img/icons.png") no-repeat}
.item .social a.fb {background-position: 6px -95px; background-color: #385591;}
.item .social a.tw {background-position: -23px -94px; background-color: #76CCF8;}
.item .social a.gog {background-position: -52px -94px; background-color: #D2442A;}
.item .social a.mail {background-position: -82px -94px; background-color: #D5DBDF;}

.item.curr {background: #8daf3e;}

.item.curr p, .item.curr h2, .item.curr .info strong, .item.curr .info a, .item.curr .info a:hover, .item.curr .info div.other {color: #fff; text-shadow: 0 1px rgba(0,0,0,0.2);}
.item.curr .info a {text-decoration: underline;}
.item.curr .info a:hover {text-decoration: none;}

.item.curr .basic span.speaker {background-position: 0 -40px; }
.item.curr .basic span.start {background-position: -30px -40px; }
.item.curr .basic span.room {background-position: -60px -40px; }
.item.curr .basic span.org {background-position: -90px -40px; }

.item.curr .btn {background: #fff;  color: #8daf3e;}
.item.curr .img {border-color: #7c9839; }
.item.curr .social a {border-color: #7c9839;}
.item.curr .social a.fb {background-color: #fff;}
.item.curr .social a.tw {background-color: #fff;}
.item.curr .social a.gog {background-color: #fff;}
.item.curr .social a.mail {background-color: #fff;}

.detail .item {border: 0; padding: 20px; cursor: default;}
.detail .item:hover {background: none;}
.detail .item .img {float: right; margin: 0; width: 262px;}
.detail .item .img img {width:250px; height: 250px; display: block;}
.detail .item .info {width: 67%;}
.detail .item h2 {font-size: 24px; padding-bottom: 10px; border-bottom: 1px solid #DDDDDD; }
.detail .item p {padding: 0; margin-bottom: 15px;}

.item .basic span {margin-bottom: 5px;}
.detail .item .basic strong {margin-right: 20px;}

.team {}
.team h3 {text-transform: uppercase; font-size: 16px; color: #8daf3e; font-weight: bold; margin: 10px;}
.team h3 strong {font-size: 14px; color: #3c3c3c;}

/*
.person {display: inline-block; margin: 20px;}
.person h3 {text-transform: uppercase; font-size: 16px; color: #8daf3e; font-weight: bold; margin: 10px 0 0;}
.person strong {font-size: 14px; color: #3c3c3c; display: block; margin-bottom: 5px;}
.person a {color: #737373;}*/


.tab {padding: 20px;}
.tab table {width: 100%; border-collapse: collapse;}
.tab tr th {background:#8daf3e; color: #fff;}
.tab tr td:first-child, .tab tr th:first-child {text-align: left; padding-left: 15px; }
.tab td, .tab th {padding: 15px 5px; text-align: center; border-bottom: 1px solid #DDDDDD; }
#search {border-radius: 20px;}

#filter {border-radius: 10px 0 0 10px;}
#filter .head {border-radius: 10px 0 0 0;}
#filter .head .how-to span {border-radius: 0 10px 10px 0;}

.background {border-radius: 10px;}
.background .inside,  .background:after, .background:before, #loginForm {
-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}

	#loginForm .head {border-radius: 5px 5px 0 0;}
.dayBox .day{border-radius: 0 5px 5px 0;}
.btn, .item .social a, .nav li a {border-radius: 3px;}
#filter .head, .dayBox, .item, #main, #top {
    content:"";
    clear:both;
    display:table;
}

.autocomplete-w1 { position: absolute; top: 0px; left: 0px; }
.autocomplete { border: 1px solid #999; background: #FFF; cursor: default; text-align: left; max-height: 350px; overflow: auto; /* IE6 specific: */ _height: 350px; _margin: 0; _overflow-x: hidden; }
    .autocomplete .selected { background: #F0F0F0; }
    .autocomplete div { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
    .autocomplete strong { font-weight: normal; color: #8DAF3E; }


	.logIn {float: right;}
	.logIn li {float: left; margin: 0 10px;}
	.logIn li a {color: #3C3C3C;}
	.logIn li a.btn.fb { background-color: #6D84B4; border-color: #4E5D7B; color: #fff;}
	

/* Login form */
#loginForm {
	
	width: 300px;
	height: 285px;
	
	margin: 30px auto;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
	width: 100%;
	
}

#loginForm .head {background:#8daf3e; padding: 20px 10px 20px 20px; width: 100%;}
#loginForm .head  h3 {color: #fff; font-size: 18px;}
#loginForm .body {padding: 20px;}
#loginForm .body label {font-size: 14px; color: #444; margin-bottom: 7px; display: inline-block;}
#loginForm .btn {float: right;}

.btn.org {background: #ed7f25; border-color: #d3660d;}

/* responsive */
@media (max-width: 800px) {

}


@media (max-width: 640px) {


}

@media (max-width: 450px) {

}


