body {
	font: 13px/19px Arial, serif;
	margin: 0;
	background: url('../img/wrap_bg.gif');
}

a {
	color: #8daf3e;
	text-decoration: underline;
}
a.btn {text-decoration: none;}

a:hover {
	text-decoration: none;
	color: #6d8d23;
}

p {
	margin: 0 0 15px 0;
	line-height: 22px;
}

p.hightlight {
	font-size: 14px;
	font-weight: bold;
}

.tac {
	text-align: center;
}

.fr {float: right;}

h1 {
	color: #48260e;
	font: bold 27px/32px Arial;
	margin: 8px 0 15px;
	border-bottom: 1px solid #48260e;
}

.table td, .table th {
	vertical-align: middle;
}

input[type='text'], input[type='date'], input[type='url'] {
	padding: 5px;
	height: 33px;
}

#coming-soon-box {
	width: 750px;
	height: 350px;
	margin: -175px 0 0 -375px;
	top: 50%;
	position: relative;
	margin-top: 120px;
	margin-left: 0;
	left: 0;
}

#coming-soon-box .left {
	float: left;
	width: 200px;
	text-align: center;
}

#coming-soon-box .right {
	float: right;
	width: 530px;
}

#coming-soon-box  .fb {
	padding-top: 10px;
}

.form {
	padding: 10px;
	background: #8daf3e;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.form .input {
	width: 310px;
	background: #fff;
	border: 1px solid #709027;
	padding: 9px;
	margin: 0 5px 0 0;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px rgba(0, 0, 0, 0.2) inset;
	height: auto;
	height: 22px;
}

.form .idleField {
	background: #f5f5f5;
}

.form .button {
	width: 170px;
	cursor: pointer;
	font-weight: bold;
	background: #48260e;
	border: 0;
	color: #fff;
	padding: 10px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #2e1707;
	box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset, 0 1px rgba(255, 255, 255, 0.3);
}

.messages {
	display: none;
}

.message {
	border: 1px solid #00529B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 15px 15px 15px 50px;
	background: #BDE5F8 url('../img/ok-icon.png') no-repeat 13px 13px;
	color: #00529B;
	box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
}
.message.error {
	border: 1px solid #b22222;
	background: #ebcccc url('../img/error-icon.png') no-repeat 13px 13px;
	color: #b22222;
}

.actionForm th {
	text-align: left;
	font-weight: normal;
	min-width: 120px;
	padding-right: 10px;
}

.actionForm td {
	padding: 5px;
}

.actionForm td input{
	margin: 0;
}

.actionForm td label{
	display: inline; 
	margin: 5px 0 0 0;
}

.actionForm td textarea{
	height: 150px; 
	resize: none; 
	width: 400px;
}

/* Login form */
#form-signin {
	position: absolute;
	width: 450px;
	height: 250px;
	padding: 20px;
	top: 50%;
	left: 50%;
	margin: -145px 0 0 -245px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

#form-signin input[type="text"],
#form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

input.btn {
	padding: 8px 18px;
}

.wrap {
	width: 750px;
	margin: auto;
}

#footer .fb {
	text-align: right;
	width: 750px;
	margin: auto;
}

/* responsive */
@media (max-width: 800px) {
	#wrap {
		height: auto;
	}

	.wrap {
		width: auto;
	}
	#footer .fb {
		width: auto;
	}

	#coming-soon-box {
		width: 600px;
		height: auto;
		margin: 0 auto;
		padding: 0;
		position: relative;
		top: 0;
		left: 0;
	}

	#form-signin {
		height: auto;
		margin: 0 auto;
		padding: 0;
		position: relative;
		top: 0;
		left: 0;
	}

	#coming-soon-box .left {
		float: none;
		width: 100%;
		text-align: left;
		padding-top: 1em;
		text-align: center;
	}

	#coming-soon-box .right {
		float: none;
		width: 100%;
	}

	.form .input {
		width: 380px
	}

	.fb {
		float: right;
		margin-top: 2em;
	}
}

@media (max-width: 640px) {

	#coming-soon-box, #form-signin {
		width: 100%;
		margin: 0;
	}

	#coming-soon-box .left {
		text-align: center;
	}

	#coming-soon-box .right .hi {
		padding: 0 1em;
	}

	#coming-soon-box .right p {
		padding: 0 1em;
	}

	#coming-soon-box .right h1 {
		padding: 0 0.8em 0.5em;
	}

	.form {
		padding: 1em;
		margin: 0;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}

	.form .input {
		width: 94%;
		margin-left: 0;
		margin-right: 0;
		display: block;
		position: relative;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 10px;
	}

	.form .button {
		width: 99%;
	}

	#footer .fb iframe {
		width: 400px !important;
	}


}


/* changes bootstrap*/
.navbar-inner {
	border: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: #8daf3e;
	background-image: -moz-linear-gradient(top, #8daf3e, #8daf3e);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8daf3e), to(#8daf3e));
	background-image: -webkit-linear-gradient(top, #8daf3e, #8daf3e);
	background-image: -o-linear-gradient(top, #8daf3e, #8daf3e);
	background-image: linear-gradient(to bottom, #8daf3e, #8daf3e);
	background-repeat: repeat-x;
	border: 1px solid #d4d4d4;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff8daf3e', endColorstr = '#ff8daf3e', GradientType = 0);
	*zoom: 1;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar .container {
	width: 1170px;
	clear: both;
}
.filter .nav > li {

    list-style-type: disc;
    margin-left: 30px;
}

.filter .nav-list li ul li {  
	line-height: 17px;
    margin: 10px 0;
    padding-right: 20px;
	position: relative;
}
.filter .nav-list {padding: 0;}

.filter .nav > .nav-header {margin: 20px 0px 0;  padding: 0 5px; position: relative;}
.filter .nav > .nav-header .collapse {background: url("../img/collapse.png") no-repeat; position: absolute; top: 0; right: 0; display: none; height: 20px; width: 20px; cursor: pointer;}
.filter .nav > .nav-header .collapse.expanded {background: url("../img/expand.png") no-repeat;}


.filter .nav-list li ul li a {
	color: #0088CC;
	text-transform: none;
}

.filter .nav-list li ul li a:hover {
	color: #0088CC; 
}
/*.filter .nav-list li ul {display: none;}
.filter .nav-list li:hover ul {display: block;}*/
.filter .nav-list li ul li input {position: absolute; top: 2px; right: 0px; margin: 0; outline: 0;}



.how-to-filter {float: right; position: relative; cursor: help; }
.how-to-filter span {display: none; color: #686868; position: absolute; top: 2px; left: 70px; z-index: 100; padding: 10px; background: #dedede; border: 1px solid #c0c0c0; width: 135px; text-decoration: none;}
.how-to-filter:hover > span {display: block; }

.navbar .nav > li > a {
	color: #fff;
	float: none;
	padding: 10px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 #666;
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari and Chrome */
	-o-transition: all 0.3s; /* Opera */
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover {
	color: #777;
	float: none;
	padding: 10px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;

}

.nav-tabs > li > a, .nav-pills > li > a {
	line-height: 14px;
	margin-right: 6px;
}

.navbar .nav > li > a:hover {
	background: #75962a;
	color: #fff;
	text-shadow: 0 1px 0 #666;
}

.navbar .nav {
	margin-top: 23px;
}

.item {
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari and Chrome */
	-o-transition: all 0.3s; /* Opera */
	padding: 16px 20px;
	cursor: pointer;
	display: block;
	border-bottom: 1px solid #DDDDDD;
	outline: 0;
	position: relative;
	margin-bottom: 15px;
}

.item:last-child, .row:last-child {
	border: 0;
}

.item h3 {
	margin: 5px 0 10px;
	font-size: 20px;
	line-height: 19px;
}

.item h3, .item p, .item .action  {
	color: #2a2a2a;
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari and Chrome */
	-o-transition: all 0.3s; /* Opera */
		
}
 .item p {margin: 0;}

.item .action { position: absolute; top: 15px; right: 15px; display: none}

.item .btn {padding: 2px 6px; font-size: 12px;}
.item .action .btn {margin-left: 10px; }
.item .perex span{ color: #DDDDDD;
    font-weight: bold;
    padding: 0 5px;}
.item .perex a {text-decoration: underline;}

.item h3 a:hover {
	text-decoration: none;
}

.item .img img {
	margin-right: 20px;
}
.item.curr:hover {cursor: default;}

.item.curr .action.curr { display: block }

.item:hover, .item.curr {
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	text-decoration: none;
}

.item .detail-btn.closed { padding: 5px 6px }

.item td {
	font-size: 13px;
	color: #2A2A2A;
}

.item  th{
	font-size: 14px; 
	
	font-weight: bold; 
	line-height: 26px;
	color: #2A2A2A;
}

th {text-align: left; }

.row-fluid  .item .span12 {
	margin: 0;
}


.item:hover .action, .item.curr .action {display: block;}



.row-fluid.item {
    width: auto;
}

.item .closed {
    display: none;
}

.filter label {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
}


.filter td {
	padding-right: 15px;
}
.filter li a {text-decoration: none;}
.filter li a:hover {text-decoration: underline;}

.row-action {
	border-bottom: 2px solid #999;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

table.tm30 {
	margin-top: 30px;
}

table.actionform th {
	width: 90px;
}

table.actionform  input[type="text"] {
	margin-right: 20px;
}

table.actionform input.w525 {
	width: 525px;
}

table.actionform textarea {
	width: 620px;
	height: 300px;
}

table.actionform th, table.actionform td {
	text-align: left;
	height: 35px;
}

table.actionform th label {
	font-weight: bold;
	margin: 0;
}

[class^="icon-"], [class*=" icon-"] {
	margin-right: 5px;
}

.icon-plus, .icon-trash {
	background-image: url("../img/glyphicons-halflings-white.png");
}

#footer {
	padding: 10px;
	text-align: center;
}



.nav-header {
	font-size: 14px;
}


.well.no-m {margin: 0;}
.well.filter {padding: 15px;}
.well.filter h4 {margin-top: 0; border-bottom: 1px solid #666;  padding-bottom: 5px;}

.span2.soc .btn{margin-top: 15px;}
.detailAct { border-bottom: 1px solid #999; padding-bottom: 10px; }
.detailAct p{margin: 0; font-size: 14px;}
.detailAct p.perex {margin:0 0 10px}
.detailAct td, .detailAct th {padding: 7px 5px;   font-size: 14px;}

#shortinfo {width: 400px; height: 100px;}
#longinfo {width: 400px; height: 200px;}

#info { width: 400px; height: 200px; }
a.edit-org { margin-right: 20px; }

@media (max-width: 450px) {
	#footer {
		padding: 0;
	}
	.fb {
		display: none;
	}
}