
.filter-control .filter .filter-item .filter-item-label {
	cursor: pointer;
	text-decoration: none;
	font-size: 12px;
	color: #08C;
}
.filter-control .filter .filter-item .filter-item-label:hover {
	text-decoration: underline;
}
.filter-control .filter .filter-item label {
	margin: 0;
}

.filter-control .filter .filter-item input {
	opacity: 0;
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari and Chrome */
	-o-transition: all 0.3s; /* Opera */
}

.filter-control .filter .dates:hover .filter-item input {
	opacity: 1;
}
.filter-control .filter .categories:hover .filter-item.category input {
	opacity: 1;
}
.filter-control .filter .organizations:hover .filter-item.organization input {
	opacity: 1;
}
.filter-control .filter .tags:hover .filter-item.tag input {
	opacity: 1;
}

.filter-control .filter .filter-item input.showed {
	opacity: 1;
}

.filter-control .filter .filter-item.organization .filter-item-label {
	font-size: 9px;
	display: block;
	height: 14px;
	/*
	width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;*/
}

@media (max-width: 768px) {
	.filter-control .filter .filter-item input {
		opacity: 1;
	}
}
