
{block content}
								<div class="background">
				<div class="inside editOrg">
				<h1>Editace organizace</h1>
{!$form}
<a href="<?php echo $view->url(array(),
   'adminIndex',
   true); ?>" class="btn gr">Zrušit editaci</a>
   </div>
   </div>