<!DOCTYPE html>
<html>
<head>
	{var $view->headLink()
	->appendStylesheet($view->baseUrl() . '/css/bootstrap.css')}
{include 'blocks/head.latte'}
</head>

<body>
<div id="wrap">
<!-- Hlavicka -->
{include 'blocks/header/admin/system.latte'}

<div class="messages" n:if="count($flashes)">
        <div class="message info" n:foreach="$infoFlashes as $flash">{$flash}</div>
        <div class="message error" n:foreach="$errorFlashes as $flash">{$flash}</div>
</div>

<!-- Obsah -->
<div id="main">
	{*block content}{/block*}
	{!$view->layout()->content}
</div>

<!-- Paticka -->
{include 'blocks/footer.latte'}

{include 'blocks/javascripts.latte'}
</div>
</body>
</html>