/* 
    Document   : eventForm
    Created on : 9.12.2012, 22:58:13
    Author     : Funder
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
div.clear{
    clear: both;
}

#formwrap {position: relative;}
div#nearEvents {
position: absolute;
    top: 350px;
	left: 350px;
}
div#nearEvents .inside{
  background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    
    padding: 15px;
    
    width: auto;
	max-width: 400px;
}

div#nearEvents h3 {color: #8DAF3E; font-weight: bold}


div#nearEvents th {text-align: left; padding: 5px 10px 5px 0; }
div#nearEvents td {
border-top: 1px solid #aaa;
padding: 5px 10px 5px 0;
}

div#nearEvents tr th:last-child, div#nearEvents tr td:last-child {padding-right: 0;}



.required:after{
    content: " *";
    color: red;
}

/****** uploads */
.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    background: #8daf3e; 
    text-decoration: none; 
    padding: 4px 10px; 
    color: #fff; 
    font-family: Arial;
    font-size: 13px; 
    border: 1px solid #7c9839; 
    display: inline-block; 
    border-bottom-width: 2px; 
    font-weight: bold; 
    cursor: pointer;

    margin-bottom:0px;
}
.qq-upload-button-hover {}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../../../img/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

#default-picture.qq-upload-button { margin-left: 20px; vertical-align: top;}
