#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		debugMode: true
		productionMode: false
		environment: development

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes


	nette:
		#application:
		#	errorPresenter: Error

		session:
			autoStart: false
		#	expiration: 14 days

		#database:
		#	default:
		#		dsn: 'mysql:host=localhost;dbname=myevents'
		#		user: root
		#		password: misak


	services:
		# Default services
		fileTemplate: Nette\Templating\FileTemplate
		titleLoader: app\services\TitleLoader

		# Models
		eventModel: app\models\events\EventTable
		emailModel: app\models\newsletter\EmailTable



	factories:


production < common:
	parameters:
		debugMode: false
		productionMode: true
		environment: production

development < common:
testing < common:
deploy < common:

staging < common:
	parameters:
		debugMode: true
		productionMode: false
		environment: staging



	# Tady si každý vytvoří vlastní configuraci pro nette (zatím prázdnou)
localhost_xzabm00 < common:
	parameters:
		debugMode: true
		productionMode: false
		environment: development

localhost_xtomf00 < common:

localhost_xmacj00 < common:

localhost_xkler00 < common:

localhost_xlaum00 < common:

localhost_xhanp00 < common:

