#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		debugMode: true
		productionMode: false
		environment: development

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes


	nette:
		application:
			errorPresenter: Error

		session:
			expiration: 14 days

		database:
			default:
				dsn: 'mysql:host=localhost;dbname=test'
				user: root
				password: misak


	services:
		# Default services
		fileTemplate: Nette\Templating\FileTemplate

		# Models
		articleModel: ArticlesModel

	factories:


production < common:

development < common:
