#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		debugMode: true

		database:
			host: localhost
			username: root
			password:
			dbname: myevents

		facebook:
			appId: '301758016608577'
			secret: '40b2b828dba9beaeedc204a90f8070cb'


	services:
		# Default services
		user:
			class: app\services\User
		titleLoader:
			class: app\services\TitleLoader
			tags: [inject]
		filterDispatcher:
			class: app\components\Filter\FilterDispatcher
			tags: [inject]
		facebook:
			class: app\services\Facebook\Facebook(%facebook%)
			#setup:
			#	- require_login()
		fbImportDispatcher:
			class: app\services\facebook\FbImportDispatcher
			tags: [inject]

		# Models
		eventTable: app\models\events\EventTable
		emailTable: app\models\newsletter\EmailTable
		organizationTable: app\models\organizations\OrganizationTable
		categoryTable: app\models\events\CategoryTable
		tagTable: app\models\events\TagTable
		eventHasSponsorTable: app\models\events\EventHasSponsorTable
		organizationOwnEventTable: app\models\organizations\OrganizationOwnEventTable
		userTable: app\models\authentication\UserTable()
		authenticateTable: app\models\authentication\AuthenticateTable
		roleTable: app\models\authorization\RoleTable
		organizationHasUserTable: app\models\organizations\OrganizationHasUserTable
		resourceTable: app\models\authorization\ResourceTable


	factories:


production < common: # myevents.vse.cz
	parameters:
		debugMode: false

		database:
			host: localhost
			username: myevents
			password: wewec24s54fO95Hwewes54fO22fFErf94s54fO22fFrf95Hwec24s54fO22fFE
			dbname: myevents

staging < common: # stage.myevents.vse.cz
	parameters:
		debugMode: false

		database:
			host: localhost
			username: myevents
			password: wewec24s54fO95Hwewes54fO22fFErf94s54fO22fFrf95Hwec24s54fO22fFE
			dbname: myevents

development < common: # eventsvse.4it445.vse.cz
	parameters:
		database:
			host: localhost
			username: zs1213_c
			password: shai7u
			dbname: zs1213_c

testing < common: # test.myevents.vse.cz
	parameters:
		database:
			host: localhost
			username: myevents_testing
			password: shai7u
			dbname: myevents_testing

deploy < common: # deploy.myevents.vse.cz
	parameters:
		database:
			host: localhost
			username: myevents
			password: wewec24s54fO95Hwewes54fO22fFErf94s54fO22fFrf95Hwec24s54fO22fFE
			dbname: myevents

localhost < common: # localhost.myevents.vse.cz
