<a href="<?php echo $view->url(array(), 'organizationAdmins') ?>" class="btn">Sprava adminu organizaci</a> 
<a href="<?php echo $view->url(array(), "userLogout") ?>" class="logout btn fr">Odhlásit</a>